@{
  Layout = "_Layout";
}

@model Dojo.Models.MartialArt

@using (Html.BeginForm())
{
  @Html.Label("Martial Art Type")<span>  :  </span>
  @Html.TextBoxFor(model => model.Type, new {required = "required", @class="textBox" })
  <input type="submit" value="Add new Martial Art" class="htmlButton"/>
}
<hr/>
@Html.ActionLink("Show all Martial Arts", "Index", "MartialArt", null, new { @class="htmlButton"})
