@{
  Layout = "_Layout";
}

@model Dojo.Models.MartialArt;

<h4>Are you sure you want to delete @Model.Type</h4>
@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" class="htmlButton"/>
  }
<hr/>
@Html.ActionLink("Back to List", "Index", "MartialArt", null, new { @class="htmlButton" })