@{
  Layout = "_Layout";
}

@using Dojo.Models;

@if(@Model.Count == 0)
{
  <h3>No Martial Arts have been added yet.</h3>
}

<ul>
  @foreach (MartialArt art in Model)
  {
    <li>@Html.ActionLink($"{art.Type}", "Details", new { id = art.MartialArtId})</li>
  }
</ul>

@Html.ActionLink("Add Martial Art", "Create", "MartialArt", null, new { @class="htmlButton"})