@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  background-color: #FDD8DA;
}

input {
  border: 0px;
}

.jumbotron {
  font-family: 'Fredoka One', cursive;
  height: max-content;
  text-align: center;
  background: none;
  padding: 20px;
  padding-top: 50px;
}

.jumbotron h1 {
  text-transform: uppercase;
  color: #000000;
  text-shadow: 2px 2px #FBA8AC;
  font-weight: 500;
  animation: text-shadow .75s linear infinite;
}

.jumbotron a {
    color: #F3F9F9;
    font-weight: 500;
}

hr {
  background-color: #000000;
  box-shadow: 1px 1px #FBA8AC, 2px 2px #FBA8AC;
}

.bamboo {
  z-index: -6;
  position: fixed;
  left: -75px;
  bottom: -50px;
  width: 550px;
  height: auto;
  transform: scaleX(-1);
}

.bamboo2 {
  z-index: -6;
  position: fixed;
  right: -75px;
  bottom: -50px;
  width: 550px;
  height: auto;
}

li a {
  color: #1CB5B5;  
  font-weight: 600;
}

li a:hover {
  color: #FDD8DA;
  text-shadow: 1px 1px #1CB5B5, -1px -1px #1CB5B5, 0px 1px #1CB5B5, 1px 0px #1CB5B5, 0px -1px #1CB5B5, -1px 0px #1CB5B5, 1px -1px #1CB5B5,  -1px 1px #1CB5B5;
}

.container {
  height: fit-content;
  width: fit-content;
  min-width: 500px;
  padding: 40px;
  background-color: #FEF5F6;
  border-radius: 10px;
  transform: translateY(-25px);
  animation: box-shadow 0.75s linear infinite;
}

.container h3 {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 2px 2px #FBA8AC;
}

@keyframes text-shadow {
  from, 24.9% {
    text-shadow:1px 2px #ffbbbf, 3px 5px #FBA8AC, 5px 8px #fd868e,  7px 11px #f16f78;
  }
  25%, 49.9%
  {
    text-shadow:1px 2px #f16f78, 3px 5px #ffbbbf, 5px 8px #FBA8AC,  7px 11px #fd868e;
  }
  50%, 74.9% {
    text-shadow:1px 2px #fd868e, 3px 5px #f16f78, 5px 8px #ffbbbf,  7px 11px #FBA8AC;
  }
  75%, to {
    text-shadow:1px 2px #FBA8AC, 3px 5px #fd868e, 5px 8px #f16f78,  7px 11px #ffbbbf;
  }
}

@keyframes box-shadow {
  from, 24.9% {
    box-shadow:2px 4px #ffbbbf, 6px 10px #FBA8AC, 10px 16px #fd868e,  14px 22px #f16f78;
  }
  25%, 49.9%
  {
    box-shadow:2px 4px #f16f78, 6px 10px #ffbbbf, 10px 16px #FBA8AC,  14px 22px #fd868e;
  }
  50%, 74.9% {
    box-shadow:2px 4px #fd868e, 6px 10px #f16f78, 10px 16px #ffbbbf,  14px 22px #FBA8AC;
  }
  75%, to {
    box-shadow:2px 4px #FBA8AC, 6px 10px #fd868e, 10px 16px #f16f78,  14px 22px #ffbbbf;
  }
}

@keyframes filter-shadow-left {
  from, 24.9% {
    filter: drop-shadow(-4px -4px 4px #BEE7E7) drop-shadow(-8px -10px 4px #abe2e2) drop-shadow(-12px -16px 4px #87D4D4)  drop-shadow(-16px -22px 4px #5ECBCB);
  }
  25%, 49.9% {
    filter: drop-shadow(-4px -4px 4px #5ECBCB) drop-shadow(-8px -10px 4px #BEE7E7) drop-shadow(-12px -16px 4px #abe2e2) drop-shadow(-16px -22px 4px #87D4D4);
  }
  50%, 74.9% {
    filter: drop-shadow(-4px -4px 4px #87D4D4) drop-shadow(-8px -10px 4px #5ECBCB) drop-shadow(-12px -16px 4px #BEE7E7) drop-shadow(-16px -22px 4px #abe2e2);
  }
  75%, to {
    filter: drop-shadow(-4px -4px 4px #abe2e2) drop-shadow(-8px -10px 4px #87D4D4) drop-shadow(-12px -16px 4px #5ECBCB)  drop-shadow(-16px -22px 4px #BEE7E7);
  }
}

@keyframes filter-shadow-right {
  from, 24.9% {
    filter: drop-shadow(4px -4px 4px #f8676e) drop-shadow(8px -10px 4px #f7565e) drop-shadow(12px -16px 4px #f84c55)  drop-shadow(16px -22px 4px #f63b2e);
  }
  25%, 49.9% {
    filter: drop-shadow(4px -4px 4px #f63b2e) drop-shadow(8px -10px 4px #f8676e) drop-shadow(12px -16px 4px #f7565e) drop-shadow(16px -22px 4px #f84c55);
  }
  50%, 74.9% {
    filter: drop-shadow(4px -4px 4px #f84c55) drop-shadow(8px -10px 4px #f63b2e) drop-shadow(12px -16px 4px #f8676e) drop-shadow(16px -22px 4px #f7565e);
  }
  75%, to {
    filter: drop-shadow(4px -4px 4px #f7565e) drop-shadow(8px -10px 4px #f84c55) drop-shadow(12px -16px 4px #f63b2e)  drop-shadow(16px -22px 4px #f8676e);
  }
}

@keyframes filter-shadow-dog {
  from, 24.9% {
    filter: drop-shadow(0px 0px 4px #f8676e) drop-shadow(0px 0px 8px #f7565e);
  }
  25%, 49.9% {
    filter: drop-shadow(0px 0px 4px #f63b2e) drop-shadow(0px 0px 8px #f8676e);
  }
  50%, 74.9% {
    filter: drop-shadow(0px 0px 4px #f84c55) drop-shadow(0px 0px 8px #f63b2e);
  }
  75%, to {
    filter: drop-shadow(0px 0px 4px #f7565e) drop-shadow(0px 0px 8px #f84c55);
  }
}

.centerBtn {
  text-align: center;
}

.htmlButton {
  background-color: #58C3C3;
  border-radius: 4px;
  margin: 4px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
  color: #F3F9F9;
  font-weight: 700;
  box-shadow: 2px 5px #FBA8AC;
}

.htmlButton:hover {
  color: #FDD8DA;
  text-decoration: none;
}

.htmlButton:active {
  box-shadow: 2px 2px #FBA8AC;
  transform: perspective(90%) translateZ(-1em);
}

#logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

label {
  color: #000000;
  font-weight: 600;
}

#header a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

.textBox {
  background-color: #F3F9F9;
  color: #c06e72;
}

.textBox:focus {
  outline: solid 2px #87D4D4;
  border-radius: 5px;
  color: #c06e72;
}

.textBox:-webkit-autofill,
.textBox:-webkit-autofill:hover, 
.textBox:-webkit-autofill:focus, 
.textBox:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #F3F9F9 inset !important;
    color: inherit;
}

.karateGuy1 {
  z-index: -7;
  position: fixed;
  bottom: -20px;
  left: 10%;
  display: block;
  text-align: center;
  width: 50%;
  height: 325px;
  animation: filter-shadow-left .5s linear infinite;
}

.karateGuy2 {
  z-index: -8;
  position: fixed;
  bottom: -20px;
  right: 10%;
  display: block;
  text-align: center;
  width: 50%;
  height: 325px;
  animation: filter-shadow-right .5s linear infinite;
}

.karateDog img{
  width: 50%;
  text-align: center;
  margin: auto;
}

.karateDog a:hover{
  animation: filter-shadow-dog .5s linear infinite;
}

.karateDogRow {
  width: 70%;
}

.karateDogRow:after {
  filter: hue-rotate(15deg) saturate(70%) brightness(120%);
  
  pointer-events: none !important;
  position: fixed;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(https://i.imgur.com/w6otSXf.png),
  url(https://i.imgur.com/Uz2WWFg.png);
  animation: SAKURA 10s linear infinite;
  z-index: -5;
}

#indexBtn {
  transform: translateY(-40px);
}

h6 {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  color: #000000;
}

h6 a {
  color: #1CB5B5;  
  font-weight: 400;
  text-shadow: none;
}

h6 a:hover {
  color: #FDD8DA;
  text-shadow: 1px 1px #1CB5B5, -1px -1px #1CB5B5, 0px 1px #1CB5B5, 1px 0px #1CB5B5, 0px -1px #1CB5B5, -1px 0px #1CB5B5, 1px -1px #1CB5B5,  -1px 1px #1CB5B5;
}

.grass {
  z-index: 1;
  height: 120px;
  width: 100vw;
  position: fixed;
  bottom: -30px;
}

#cherryBlossoms:after {
  filter: hue-rotate(15deg) saturate(70%) brightness(120%);
  
  pointer-events: none !important;
  position: fixed;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(https://i.imgur.com/w6otSXf.png),
  url(https://i.imgur.com/Uz2WWFg.png);
  animation: SAKURA 10s linear infinite;
  z-index: -5;
}

@keyframes SAKURA {
  0% { background-position: 0 0, 0 0, 0 0; }
  100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}